<!DOCTYPE html>
<html lang="en" ng-app="compiler">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container" ng-controller="HomeController as home">
    <svg id="test"></svg>

    <div class="row" style="margin-top: 60px;">
        <div class="col-md-4"  file="text" file-dropzone="text/plain" file-handler="home.dragHandler">
            <textarea class="form-control" rows="12" ng-model="home.textInput"></textarea>
        </div>
        <div class="col-md-4" >
            <button class="btn btn-default" ng-click="home.avoid()">消除左递归</button>
            <input class="btn btn-default" type="file" file-change file-handler="home.dragHandler" value="打开文件"/>
        </div>



    </div>
    <div class="col-md-4" >
        <button class="btn btn-default" ng-click="home.stepExc()">单步执行</button>
    </div>
    <div class="row" style="margin-top: 60px;">

    <div class="col-md-8">
        <pre ng-repeat="arith in home.avoidLeftRecursorArith">
           <span ng-style="{background: $index == home.phaseIndex -1 ? 'red' : 'white'}"> {{arith.name}}</span>
        </pre>
    </div>


        </div>

    <div class="row" style="margin-top: 60px;">
        <div class="col-md-4">
            <textarea class="form-control" rows="12" ng-model="home.textOutput"></textarea>
        </div>
        <div class="col-md-4" >
            <button class="btn btn-default" ng-click="home.longestCommonPrefix()">提取左公因子</button>
        </div>
    </div>

    <div class="row" style="margin-top: 60px;">
        <div class="col-md-4">
            <textarea class="form-control" rows="12" ng-model="home.textcommonprefix"></textarea>
        </div>

    </div>


    <div class="row" style="margin-top: 60px;">
        <div class="col-md-4">
            <textarea class="form-control" rows="12" ng-model="home.firstinput"></textarea>
            <button class="btn btn-default" ng-click="home.findFirst()">first集合</button>

        </div>

    </div>

</div>

</body>
<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="app.js"></script>
<script src="test.js"></script>

</html>